<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        </meta>
        <title>
            Document
        </title>
        <style type="text/css">
            body {
        height: 100vh;
    }
        </style>
        <link href="main.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Demoe</h1>
        <div>
            <div id="engine_container">
                <div id="engine_wrapper" v-show="showMe">
                    <div id="input">
                        <input @keydown.down="onDirectionKeydown('down')" @keydown.enter="search" @keydown.up="onDirectionKeydown('up')" autocomplete="off" id="keyword" type="text" v-model="keyWord">
                        </input>
                    </div>
                    <transition name="fade">
                        <div id="engine_list" v-show="keyWord">
                            <div :class="{'active':index==currentEngine}" class="engine" v-for="(engine,index) in engines">
                                <div class="name">
                                    {{engine.name}}
                                </div>
                                <div class="url">
                                    {{engine.url|formatSearchUrl(keyWord)}}
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js">
        </script>
        <script src="main.js">
        </script>
    </body>
</html>
